centar{
    text-align: center;
    
    }
    .line{
    
    color: red;
    
    text-decoration: underline;
    }
    .im{
        position: absolute;
        color: red;
        background-color: yellow;
    }
    